<table class='table'>
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th class="follower_<%= user.id %>"><%= link_to user.followers.count, user_followers_path(user) %></th>
  <tr>
    <th>followers</th>
    <th class="followed_<%= user.id %>"><%= link_to user.followeds.count, user_followeds_path(user) %></th>
  </tr>
</table>

<div class="row">
  <div class="col">
    <div class="config follow">
      <% if current_user != user %>
        <%= render 'relationships/follow', user: user %>
      <% else %>
        <%= link_to edit_user_path(user.id), class: "btn btn-outline-danger btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>