<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

      <div class="error">
        <% if @user.errors.any? %>
          <%= @user.errors.count %>errors
          <ul>
            <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <h1>User info</h1>
        <%= form_with model: @user do |f| %>
        <%= f.text_field :name, autofocus: true %>
        <p>profile image</p>
        <%= f.file_field :profile_image %>
        <p>introduction</p>
        <%=f.text_area :introduction, autofocus: true %>
        <%= f.submit "Update User" %>
        <% end %>
    </div>
  </div>
</div>
