<%= form_with model: book_new do |f| %>
<p class="p-0"><%= f.label :title %></p>
<p class="p-0"><%= f.text_field :title %></p>
<p class="p-0"><%= f.label :opinion %></p>
<p class="p-0"><%= f.text_area :body %></p>
<p class="p-0"><%= f.submit "Create Book" %></p>
<% end %>