<table class="table">
  <thead class="table">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(book.user_id) do %>
          <%= image_tag book.user.get_profile_image(50,50) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
      <td id="favorite_button_<%= book.id %>">
        <%= render 'favorites/favorite', book: book %>
      </td>
      <td>
        コメント件数 : <%= book.comments.count %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>