<table class="table">
  <thead class="table">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th></th>
    </tr>
  </thead>
  <% books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= link_to user_path(book.user_id) do %>
          <%= image_tag book.user.get_profile_image(50,50) %>
        <% end %>
      </td>
      <td>
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </td>
      <td><%= book.body %></td>
      <td>
        <% if book.favorited_by?(current_user) %>
          <%= link_to book_favorites_path(book.id), method: :delete do %>
            🧡 <%= book.favorites.count %>
          <% end %>
        <% else %>
          <%= link_to book_favorites_path(book.id), method: :post do %>
            ♡ <%= book.favorites.count %>
          <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>