<%= flash[:notice] %>
<%= flash[:success] %>
<div class="container">
  <div class="row">

    <!--<div class="error">-->
    <!--  <%#if @book_new.errors.any? %>-->
    <!--    <%#= @book_nwe.errors.count %>errors-->
    <!--    <ul>-->
    <!--      <%# @book_new.errors.full_messages.each do |message| %>-->
    <!--      <li><%#= message %></li>-->
    <!--      <%# end %>-->
    <!--    </ul>-->
    <!--  <%# end %>-->
    <!--</div>-->

    <div class="col-6 col-md-4">
      <h1>User info</h1>
      <%= image_tag current_user.get_profile_image(100,100) %>
      <p>name</p>
      <%= current_user.name %>
      <p>introduction</p>
      <%= current_user.introduction %><br>
      <% if current_user == current_user %>
      <p><%= link_to "edit", edit_user_path(current_user.id) %></p>
      <% end %>

      <h1>New Book</h1>
      <%= form_with model: @book_new do |f| %>
      <p>title</p>
      <%= f.text_field :title %>
      <p>opinion</p>
      <%= f.text_field :body %>
      <%= f.submit %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h1>books</h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <% @books.each do |book|%>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.get_profile_image(50,50) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
