<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="flash">
        <%= flash[:notice] %>
        <%= flash[:success] %>
      </div>
      <div class="error">
        <% if @book_new.errors.any? %>
          <%= @book_new.errors.count %>errors
          <ul>
            <% @book_new.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
    </div>

      <h1>User info</h1>
      <%= image_tag current_user.get_profile_image(100,100) %>
      <p>name</p>
      <%= current_user.name %>
      <p>introduction</p>
      <%= current_user.introduction %><br>
        <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>

      <h1>New book</h1>
      <%= form_with model: @book_new do |f| %>
      <p><%= f.label :title %></p>
      <%= f.text_field :title %>
      <p><%= f.label :opinion %></p>
      <%= f.text_area :body %>
      <%= f.submit %>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>books</h1>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
          </tr>
        </thead>
        <% @books.each do |book|%>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.get_profile_image(50,50) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
