<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "app" %>
    <link rel="stylesheet" type="app" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/reset.css">
    <link rel="stylesheet" type="app" href="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/5-3-3/css/5-3-3.css">
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-warning bg-warning">
      <div class="container">
        <a class="navbar-brand nav-link text-light" href="/"><span>Bookers</span></a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-6 collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto gnavi">
            <% if user_signed_in? %>
            <li class="current">
              <%= link_to user_path(current_user.id),class: 'nav-link text-light' do %>
              <a href="#">Home</a>
              <% end %>
            </li>
            <li>
              <%= link_to users_path,class: 'nav-link text-light' do %>
              <a href="#">Users</a>
              <% end %>
            </li>
            <li>
              <%= link_to books_path,class: 'nav-link text-light' do %>
              <a href="#">Books</a>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
              <a href="#">Log out</a>
              <% end %>
            </li>
            <% else %>
            <li>
              <%= link_to root_path,class: 'nav-link text-light' do %>
               <a href="#">Home</a>
              <% end %>
            </li>
            <li>
              <%= link_to home_about_path,class: 'nav-link text-light' do %>
              <a href="#">About</a>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <a href="#">Sign up</a>
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path,class: 'nav-link text-light' do %>
              <a href="#">Log in</a>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="col"></div>
  </header>
  <body>
    <div style="height: 100vmax; background: radial-gradient(ellipse at top, #ffcf1d, transparent), radial-gradient(ellipse at bottom, #fdf5c6, transparent);" class="fadeIn">
      <%= yield %>
    </div>
  </body>
  <footer style="background-color: #fdf5c6;">
    <div class="container"></div>
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>

  </footer>
</html>
